<!doctype html>
<html>
<head>
  <script src="js/angular.min.js"> </script>
  <script src="js/ui-bootstrap-tpls-2.1.4.min.js"> </script>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/index.css"/>
</head>
<body ng-app="CustomerApp" ng-controller="MainController">
  <div class="header">
    <div class="container">
      <h3> Customers </h3>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <button type="button" class="btn btn-default" ng-click="card()">
          <span class="glyphicon glyphicon-credit-card"> </span> Card View
        </button>
        <button type="button" class="btn btn-default" ng-click="list()">
          <span class="glyphicon glyphicon-list"> </span> List View
        </button>
        <button type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-plus"> </span> Add Customer
        </button>
      </div>
      <div class="col-xs-3 filter">
        <label> Filter: </label>
        <input type="text" name="filter" ng-model="searchByName"/>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row cardContainer">
      <div class="{{view}}" ng-repeat="customer in customers | filter:searchByName">
        <div class="card">
          <button class="btn close cardClose" title="Delete Customer" ng-click="deleteCard($index)"> x </button>
          <div class="cardHeader" data-toggle="modal" data-target="#customerModal" ng-click="showModal($index)"> {{customer.name}} </div>
          <div class="cardBody" data-toggle="modal" data-target="#customerModal" ng-click="showModal($index)">
            <div class="clearfix">
              <div class="pull-left cardBodyLeft">
                <img ng-src="img/{{customer.gender}}.png" class="cardImage" alt="customer image"/>
              </div>
              <div class="pull-left cardBodyRight">
                <div class="cardBodyContent"> {{customer.address}} </div>
                <div>
                  <a href="#"> {{customer.orders}} </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="customerModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Customer</h4>
        </div>
        <div class="modal-body">
          <form class="form">
            <div class="row">
              <div class="col-xs-12">
                <label> Name : </label>
                <input type="text" name="customerName" ng-model="editedCustomer.name" />
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <label> Address : </label>
                <input type="text" name="customerAddress" ng-model="editedCustomer.address"/>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <label> Gender : </label>
                <input type="text" name="customerGender" ng-model="editedCustomer.gender"/>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <label> Orders : </label>
                <input type="text" name="customerOrders" ng-model="editedCustomer.orders"/>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="updateView()">Update</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="pagination">
          <li class="disabled"> <a href="#"> First </a> </li>
          <li class="disabled"> <a href="#"> Previous </a> </li>
          <li class="active"><a href="#"> 1 </a> </li>
          <li><a href="#"> 2 </a> </li>
          <li><a href="#"> 3 </a> </li>
          <li><a href="#"> Next </a> </li>
          <li><a href="#"> Last </a> </li>
        </div>
      </div>
    </div>

    <!-- Jquery -->
    <script src="js/jquery-3.1.1.min.js"></script>

    <!-- Bootstrap  -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>
    <script src="js/controllers/PopupController.js"></script>
    <script src="js/controllers/PopupModalController.js"></script>
  </body>
  </html>
