*{
  margin: 0;
  padding: 0;
}

.card {
    background-color:#fff;
    border: 1px solid #d4d4d4;
    height:100px;
    margin-bottom: 20px;
    position: relative;
    margin-top: 30px;
}

.cardHeader {
    background-color:#027FF4;
    font-size:14pt;
    color:white;
    padding:5px;
    width:100%;
}

.cardClose {
    color: white;
    font-weight:bold;
    margin-right:5px;
    margin-top: 5px;
}

.cardContainer {
    width:100%;
}

.cardBody {
    padding-left: 5px;
}

.cardBodyLeft {
    margin-top: -5px;
}

.cardBodyRight {
    margin-left: 20px;
    margin-top: 2px;
}

.cardBodyContent {
    width: 100px;
}

.cardImage {
    height:50px;width:50px;margin-top:10px;
}

.close {
    font-size:12pt;
    opacity: 1.0;
}

.filter{
  padding-left: 2.35%;
}
