#profile{
	
	color : #0099cc;
	text-align : left;
	font-size : 30px;
	font-family : Times New Roman;
	font-style : normal;
	border-color : #0099cc;
	border-width : 1px;
	border-style : solid;
	padding-top : 25px;
	padding-bottom : 10px;
	padding-left : 15px;
	margin-top : 7px;
}

#profilePhoto{
	margin-left : 0.5%;
	margin-top : 2%;
	float : left;
	width:30%;
}

#photoattributes{
	
	width : 60%;
	height : 50%;
}

#main{
	
	float : left;
	width:60%;
}

#info{
	
	margin-top : 3%;
	margin-left : -10%;
	font-size : 20px;
	font-family : Times New Roman;
	font-style : normal;
	font-weight : bold;
}

#completeinfo{
	
	font-size : 18px;
	font-family : Times New Roman;
	font-style : normal;
	margin-left : -8%;
	margin-top : 3%;
}