#box1{

	background-color: #7EDCC9;
	width : 100px;
	height : 100px;
	border-style : solid;
	border-width : 1px;
	border-color : black;
	text-align : center;
	padding-top : 1%;
	margin-left: 5%;
	margin-top : 5%;
}

#box1:hover{
	
	-ms-transform : rotate(45deg);
	-webkit-transform : rotate(45deg);
	transform : rotate(45deg);
}

#box2{

	background-color: #977ADA;
	width : 100px;
	height : 100px;
	border-style : solid;
	border-width : 1px;
	border-color : black;
	text-align : center;
	padding-top : 1%;
	margin-left: 5%;
	margin-top : 5%;
}

#box2:hover{
	
	-ms-transform : scale(0.5,0.5);
	-webkit-transform : scale(0.5,0.5);
	transform : scale(0.5,0.5);
}

#box3{

	background-color: #C964AA;
	width : 100px;
	height : 100px;
	border-style : solid;
	border-width : 1px;
	border-color : black;
	text-align : center;
	padding-top : 1%;
	margin-left: 5%;
	margin-top : 5%;
}

#box3:hover{
	
	-ms-transform : skew(20deg,20deg);
	-webkit-transform : skew(20deg,20deg);
	transform : skew(20deg,20deg);
}

#box4{

	background-color: #EDE096;
	width : 100px;
	height : 100px;
	border-style : solid;
	border-width : 1px;
	border-color : black;
	text-align : center;
	padding-top : 1%;
	margin-left: 5%;
	margin-top : 5%;
}

#box4:hover{
	
	-ms-transform : translate(100px,2px);
	-webkit-transform : translate(100px,2px);
	transform : translate(100px,2px);
}